.card {
  padding: 2em;
}

/* NAVBAR */
nav {
  padding: 1rem;
  border-bottom: 1.5px solid var(--color-hover);
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}
