:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #1f1e1e;
  --color-background: #fcf6f1;
  --color-text: #2c2c2c;
  --color-hover: #9A3F4A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: var(--color-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover);
}

body {
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-background);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--color-hover);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-primary);
    background-color: var(--color-background)
  }
  a:hover {
    color: var(--color-hover);
  }
  button {
    background-color: #f9f9f9;
  }
}
